<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <ul>
    <li>username: admin password: admin</li>
    <li>username: user password: user</li>
  </ul>
</div>

<div *ngIf="!authenticated">
  <div style="margin:10px" *ngIf="loginInProcess">
    Username: <input type="text" [(ngModel)]="loginObj.username" />
    Password: <input type="password" [(ngModel)]="loginObj.password" />
    <button class="btn btn-primary btn-sm" (click)="loginConfirm()">OK</button>
    <button class="btn btn-danger btn-sm" (click)="loginCancel()">Cancel</button>
  </div>
  <button class="btn btn-primary btn-sm" (click)="login()" style="margin:10px" *ngIf="!loginInProcess"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
</div>

<div *ngIf="authenticated">
  <div class="panel panel-primary panel-widget">
    <div class="panel-heading">
      <i class="fa fa-shopping-bag" aria-hidden="true"></i> Upload Binary File
    </div>

    <div class="panel-body">
      <a class="btn btn-sm btn-primary" href="javascript:;">Upload Binary File
        <input [(ngModel)]="binaryObjUpload.FilePath" (change)="binaryFileChange($event)" name="BinaryObjectFPath"
               size="10" type="file"></a>
    </div>
</div>

  <div *ngIf="authenticated">
    <div class="panel panel-primary panel-widget">
      <div class="panel-heading">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Listing Binary Files
      </div>

      <div class="panel-body">
        <table class="table">
          <tr *ngFor="let binaryObjId of binaryObjList">
            <td>{{binaryObjId}}</td>
            <td>
              <button class="btn btn-primary btn-xs" (click)="downloadBinaryObj(binaryObjId)">Download</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div *ngIf="authenticated">
      <div class="panel panel-primary panel-widget">
        <div class="panel-heading">
          <i class="fa fa-shopping-bag" aria-hidden="true"></i> Upload Image File
        </div>

        <div class="panel-body">
          <a class="btn btn-sm btn-primary" href="javascript:;">Upload Image File
            <input [(ngModel)]="imageObjUpload.FilePath" (change)="imageFileChange($event)" name="ImgeObjectFPath"
                   size="10" type="file"></a>
        </div>
      </div>

      <div *ngIf="authenticated">
        <div class="panel panel-primary panel-widget">
          <div class="panel-heading">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i> List Image Files
          </div>

          <div class="panel-body">
            <table class="table">
              <tr *ngFor="let imageObjId of imageObjList">
                <td>{{imageObjId}}</td>
                <td>
                  <button class="btn btn-primary btn-xs" (click)="downloadImageObj(imageObjId)">Download</button>
                </td>
              </tr>
            </table>
          </div>
        </div>



        <div *ngIf="authenticated">
    <div class="panel panel-primary panel-widget">
      <div class="panel-heading">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Upload Excel
      </div>

      <div class="panel-body">
        Welcome! {{loginObj.username}}
        <button class="btn btn-danger btn-sm" (click)="logout()">Logout</button>

        <br />
        <hr />

        <h1>Demo for Excel Upload</h1>

        <a href="http://localhost:9300/samples/products.xlsx" target="_blank">Excel Sample Download</a>

        <hr />

        <a class="btn btn-sm btn-primary" href="javascript:;">Upload Excel File
          <input [(ngModel)]="excelUpload.FilePath" (change)="excelFileChange($event)" name="ExcelFPath"
                 size="10" type="file"></a>

      </div>
    </div>

  <div *ngIf="authenticated">
    <div class="panel panel-primary panel-widget">
      <div class="panel-heading">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Websocket message from spring-boot-application:
      </div>

      <div class="panel-body">
        <h2> </h2>
        <table *ngIf="messages">
          <tr *ngFor="let message of messages">
            <td>
              {{message}}
            </td>
          </tr>
        </table>
      </div>
    </div>

